In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/SAFI_results.csv')

In [3]:
df.head()

,Column1,A01_interview_date,A03_quest_no,A04_start,A05_end,A06_province,A07_district,A08_ward,A09_village,A11_years_farm,...,F13_du_look_aftr_cows,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude,instanceID
0,0,17/11/2016,1,2017-03-23T09:49:57.000Z,2017-04-02T17:29:08.000Z,Province1,District1,Ward2,Village2,11,...,no,1,2,3,NaN,14.0,698,-19.112259,33.483456,uuid:ec241f2c-0609-46ed-b5e8-fe575f6cefef
1,1,17/11/2016,1,2017-04-02T09:48:16.000Z,2017-04-02T17:26:19.000Z,Province1,District1,Ward2,Village2,2,...,no,3,2,7,NaN,19.0,690,-19.112477,33.483416,uuid:099de9c9-3e5e-427b-8452-26250e840d6e
2,2,17/11/2016,3,2017-04-02T14:35:26.000Z,2017-04-02T17:26:53.000Z,Province1,District1,Ward2,Village2,40,...,no,1,2,10,NaN,13.0,674,-19.112108,33.483450,uuid:193d7daf-9582-409b-bf09-027dd36f9007
3,3,17/11/2016,4,2017-04-02T14:55:18.000Z,2017-04-02T17:27:16.000Z,Province1,District1,Ward2,Village2,6,...,no,2,2,7,NaN,5.0,679,-19.112229,33.483424,uuid:148d1105-778a-4755-aa71-281eadd4a973
4,4,17/11/2016,5,2017-04-02T15:10:35.000Z,2017-04-02T17:27:35.000Z,Province1,District1,Ward2,Village2,18,...,no,4,2,7,NaN,10.0,689,-19.112217,33.483425,uuid:2c867811-9696-4966-9866-f35c3e97d02d

In [4]:
df.describe()

,Column1,A03_quest_no,A11_years_farm,B16_years_liv,B_no_membrs,C02_respondent_wall_type_other,C05_buildings_in_compound,C06_rooms,D_plots_count,E19_period_use,...,F05_money_source_other,F10_liv_owned_other,F_liv_count,G01_no_meals,_members_count,_note,gps:Accuracy,gps:Altitude,gps:Latitude,gps:Longitude
count,131.000000,131.000000,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,92.000000,...,0.0,0.0,131.000000,131.000000,131.00000,0.0,131.000000,131.000000,131.000000,131.000000
mean,65.000000,85.473282,15.832061,23.053435,7.19084,NaN,2.068702,1.740458,2.229008,12.043478,...,NaN,NaN,2.366412,2.603053,7.19084,NaN,71.115344,648.221374,-19.102671,33.471971
std,37.960506,63.151628,10.903883,16.913041,3.17227,NaN,1.241530,1.092547,1.078210,8.583031,...,NaN,NaN,1.082775,0.491143,3.17227,NaN,335.854190,187.697067,0.023754,0.027081
min,0.000000,1.000000,1.000000,1.000000,2.00000,NaN,1.000000,1.000000,1.000000,1.000000,...,NaN,NaN,1.000000,2.000000,2.00000,NaN,3.000000,0.000000,-19.114989,33.403836
25%,32.500000,32.500000,8.000000,12.000000,5.00000,NaN,1.000000,1.000000,2.000000,4.000000,...,NaN,NaN,1.000000,2.000000,5.00000,NaN,9.000000,691.000000,-19.112222,33.483329
50%,65.000000,66.000000,15.000000,20.000000,7.00000,NaN,2.000000,1.000000,2.000000,10.000000,...,NaN,NaN,2.000000,3.000000,7.00000,NaN,11.000000,702.000000,-19.112188,33.483397
75%,97.500000,138.000000,20.500000,27.500000,9.00000,NaN,3.000000,2.000000,3.000000,20.000000,...,NaN,NaN,3.000000,3.000000,9.00000,NaN,13.000000,710.000000,-19.112077,33.483438
max,130.000000,202.000000,60.000000,96.000000,19.00000,NaN,8.000000,8.000000,8.000000,45.000000,...,NaN,NaN,5.000000,3.000000,19.00000,NaN,2099.999000,745.000000,-19.042909,33.488268

In [5]:
df['B_no_membrs'].describe()

count    131.00000
mean       7.19084
std        3.17227
min        2.00000
25%        5.00000
50%        7.00000
75%        9.00000
max       19.00000
Name: B_no_membrs, dtype: float64

In [6]:
df['B_no_membrs'].count()

131

In [7]:
df['B_no_membrs'].mean()

7.190839694656488

In [8]:
print(df['B_no_membrs'].std())
print(df['B_no_membrs'].min())
print(df['B_no_membrs'].max())
print(df['B_no_membrs'].sum())

3.1722704895263742
2
19
942

### Exercise: Number of values
Compare the count values returned for the `B_no_membrs` and the `E19_period_use` variables.
1. Why do you think they are different?
2. How does this affect the calculation of the mean values?

In [9]:
df['B_no_membrs'].count()

131

In [10]:
df['E19_period_use'].count()

92

In [11]:
df[['B_no_membrs', 'E19_period_use']]

     B_no_membrs  E19_period_use
0              3             NaN
1              7             2.0
2             10             NaN
3              7             NaN
4              7             NaN
..           ...             ...
126            3             4.0
127            7            10.0
128            4             2.0
129            7             6.0
130            8             NaN

[131 rows x 2 columns]

In [12]:
df[['B_no_membrs', 'E19_period_use']].mean()

B_no_membrs        7.190840
E19_period_use    12.043478
dtype: float64

In [13]:
df[['B_no_membrs', 'E19_period_use']].sum()

B_no_membrs        942.0
E19_period_use    1108.0
dtype: float64

In [16]:
df['B_no_membrs'].sum() / df['B_no_membrs'].count()

7.190839694656488

In [15]:
1108 / 92

12.043478260869565

## Categorical values

In [18]:
df['C01_respondent_roof_type'].unique()

array(['grass', 'mabatisloping', 'mabatipitched'], dtype=object)

In [19]:
grouped_data = df.groupby('C01_respondent_roof_type')
grouped_data.describe()

                         Column1                                           \
                           count       mean        std   min    25%   50%
C01_respondent_roof_type
grass                       73.0  61.191781  37.803460   0.0  30.00  59.0
mabatipitched               10.0  74.500000  20.045781  31.0  66.25  74.0
mabatisloping               48.0  68.812500  40.779457   2.0  31.75  74.0

                                        A03_quest_no             ...  \
                             75%    max        count       mean  ...
C01_respondent_roof_type                                         ...
grass                      89.00  128.0         73.0  82.342466  ...
mabatipitched              88.25   99.0         10.0  90.000000  ...
mabatisloping             104.25  130.0         48.0  89.291667  ...

                         gps:Latitude            gps:Longitude             \
                                  75%        max         count       mean
C01_respondent_roof_type
grass                      -19.112054 -19.042909          73.0  33.470935
mabatipitched              -19.061123 -19.044026          10.0  33.459584
mabatisloping              -19.112164 -19.043024          48.0  33.476127

                                                                     \
                               std        min        25%        50%
C01_respondent_roof_type
grass                     0.028150  33.403836  33.482665  33.483396
mabatipitched             0.038406  33.403900  33.423833  33.483403
mabatisloping             0.021912  33.403890  33.483358  33.483399


                                75%        max
C01_respondent_roof_type
grass                     33.483444  33.488268
mabatipitched             33.483445  33.483511
mabatisloping             33.483420  33.483556

[3 rows x 176 columns]

In [20]:
grouped_data = df.groupby(['C01_respondent_roof_type', 'C02_respondent_wall_type'])
grouped_data.describe()

                                                  Column1              \
                                                    count        mean
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                 22.0   67.409091
                         muddaub                     42.0   57.476190
                         sunbricks                    9.0   63.333333
mabatipitched            burntbricks                  6.0   76.000000
                         muddaub                      3.0   70.000000
                         sunbricks                    1.0   79.000000
mabatisloping            burntbricks                 39.0   63.282051
                         cement                       1.0  127.000000
                         muddaub                      1.0   38.000000
                         sunbricks                    7.0   95.714286

                                                                             \
                                                         std    min     25%
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               41.196000    4.0   29.25
                         muddaub                   35.271932    0.0   32.50
                         sunbricks                 42.976738   10.0   16.00
mabatipitched            burntbricks               14.560220   65.0   66.25
                         muddaub                   35.085610   31.0   55.50
                         sunbricks                       NaN   79.0   79.00
mabatisloping            burntbricks               40.659658    2.0   24.50
                         cement                          NaN  127.0  127.00
                         muddaub                         NaN   38.0   38.00
                         sunbricks                 28.117102   35.0   98.50

                                                                         \
                                                     50%     75%    max
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                72.0  104.75  126.0
                         muddaub                    51.5   81.75  128.0
                         sunbricks                  77.0  100.00  116.0
mabatipitched            burntbricks                68.0   85.50   98.0
                         muddaub                    80.0   89.50   99.0
                         sunbricks                  79.0   79.00   79.0
mabatisloping            burntbricks                57.0   95.50  130.0
                         cement                    127.0  127.00  127.0
                         muddaub                    38.0   38.00   38.0
                         sunbricks                 102.0  106.50  123.0

                                                  A03_quest_no              \
                                                         count        mean
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                      22.0  100.545455
                         muddaub                          42.0   73.333333
                         sunbricks                         9.0   79.888889
mabatipitched            burntbricks                       6.0   70.833333
                         muddaub                           3.0   98.000000
                         sunbricks                         1.0  181.000000
mabatisloping            burntbricks                      39.0   84.358974
                         cement                            1.0  193.000000
                         muddaub                           1.0   39.000000
                         sunbricks                         7.0  109.142857

                                                   ... gps:Latitude  \
                                                   ...          75%
C01_respondent_roof_type C02_respondent_wall_type  ...
grass                    burntbricks               ...   -19.112131
                         muddaub                   ...   -19.111620
                         sunbricks                 ...   -19.112054
mabatipitched            burntbricks               ...   -19.112108
                         muddaub                   ...   -19.044132
                         sunbricks                 ...   -19.112075
mabatisloping            burntbricks               ...   -19.112169
                         cement                    ...   -19.112157
                         muddaub                   ...   -19.043362
                         sunbricks                 ...   -19.112174

                                                             gps:Longitude  \
                                                         max         count
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks              -19.043001          22.0
                         muddaub                  -19.042909          42.0
                         sunbricks                -19.043460           9.0
mabatipitched            burntbricks              -19.044026           6.0
                         muddaub                  -19.044114           3.0
                         sunbricks                -19.112075           1.0
mabatisloping            burntbricks              -19.043024          39.0
                         cement                   -19.112157           1.0
                         muddaub                  -19.043362           1.0
                         sunbricks                -19.111469           7.0

                                                                        \
                                                        mean       std
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               33.475296  0.022931
                         muddaub                   33.468013  0.031134
                         sunbricks                 33.473908  0.026010
mabatipitched            burntbricks               33.470179  0.032430
                         muddaub                   33.430420  0.045929
                         sunbricks                 33.483511       NaN
mabatisloping            burntbricks               33.476652  0.021200
                         cement                    33.483390       NaN
                         muddaub                   33.404667       NaN
                         sunbricks                 33.482369  0.002763

                                                                         \
                                                         min        25%
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               33.404667  33.483334
                         muddaub                   33.403836  33.477898
                         sunbricks                 33.404846  33.483373
mabatipitched            burntbricks               33.403982  33.483389
                         muddaub                   33.403900  33.403903
                         sunbricks                 33.483511  33.483511
mabatisloping            burntbricks               33.403890  33.483357
                         cement                    33.483390  33.483390
                         muddaub                   33.404667  33.404667
                         sunbricks                 33.476105  33.483377

                                                                         \
                                                         50%        75%
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               33.483409  33.483434
                         muddaub                   33.483391  33.483443
                         sunbricks                 33.483397  33.483463
mabatipitched            burntbricks               33.483403  33.483417
                         muddaub                   33.403906  33.443680
                         sunbricks                 33.483511  33.483511
mabatisloping            burntbricks               33.483405  33.483423
                         cement                    33.483390  33.483390
                         muddaub                   33.404667  33.404667
                         sunbricks                 33.483397  33.483412


                                                         max
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks               33.483556
                         muddaub                   33.488268
                         sunbricks                 33.483585
mabatipitched            burntbricks               33.483478
                         muddaub                   33.483454
                         sunbricks                 33.483511
mabatisloping            burntbricks               33.483556
                         cement                    33.483390
                         muddaub                   33.404667
                         sunbricks                 33.483505

[10 rows x 176 columns]

In [21]:
grouped_data.count()

                                                   Column1  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                    22
                         muddaub                        42
                         sunbricks                       9
mabatipitched            burntbricks                     6
                         muddaub                         3
                         sunbricks                       1
mabatisloping            burntbricks                    39
                         cement                          1
                         muddaub                         1
                         sunbricks                       7

                                                   A01_interview_date  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                               22
                         muddaub                                   42
                         sunbricks                                  9
mabatipitched            burntbricks                                6
                         muddaub                                    3
                         sunbricks                                  1
mabatisloping            burntbricks                               39
                         cement                                     1
                         muddaub                                    1
                         sunbricks                                  7

                                                   A03_quest_no  A04_start  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                         22         22
                         muddaub                             42         42
                         sunbricks                            9          9
mabatipitched            burntbricks                          6          6
                         muddaub                              3          3
                         sunbricks                            1          1
mabatisloping            burntbricks                         39         39
                         cement                               1          1
                         muddaub                              1          1
                         sunbricks                            7          7

                                                   A05_end  A06_province  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                    22            22
                         muddaub                        42            42
                         sunbricks                       9             9
mabatipitched            burntbricks                     6             6
                         muddaub                         3             3
                         sunbricks                       1             1
mabatisloping            burntbricks                    39            39
                         cement                          1             1
                         muddaub                         1             1
                         sunbricks                       7             7

                                                   A07_district  A08_ward  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                         22        22
                         muddaub                             42        42
                         sunbricks                            9         9
mabatipitched            burntbricks                          6         6
                         muddaub                              3         3
                         sunbricks                            1         1
mabatisloping            burntbricks                         39        39
                         cement                               1         1
                         muddaub                              1         1
                         sunbricks                            7         7

                                                   A09_village  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                        22
                         muddaub                            42
                         sunbricks                           9
mabatipitched            burntbricks                         6
                         muddaub                             3
                         sunbricks                           1
mabatisloping            burntbricks                        39
                         cement                              1
                         muddaub                             1
                         sunbricks                           7

                                                   A11_years_farm  ...  \
C01_respondent_roof_type C02_respondent_wall_type                  ...
grass                    burntbricks                           22  ...
                         muddaub                               42  ...
                         sunbricks                              9  ...
mabatipitched            burntbricks                            6  ...
                         muddaub                                3  ...
                         sunbricks                              1  ...
mabatisloping            burntbricks                           39  ...
                         cement                                 1  ...
                         muddaub                                1  ...
                         sunbricks                              7  ...

                                                   F13_du_look_aftr_cows  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                                  22
                         muddaub                                      42
                         sunbricks                                     9
mabatipitched            burntbricks                                   6
                         muddaub                                       3
                         sunbricks                                     1
mabatisloping            burntbricks                                  39
                         cement                                        1
                         muddaub                                       1
                         sunbricks                                     7

                                                   F_liv_count  G01_no_meals  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                        22            22
                         muddaub                            42            42
                         sunbricks                           9             9
mabatipitched            burntbricks                         6             6
                         muddaub                             3             3
                         sunbricks                           1             1
mabatisloping            burntbricks                        39            39
                         cement                              1             1
                         muddaub                             1             1
                         sunbricks                           7             7

                                                   _members_count  _note  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                           22      0
                         muddaub                               42      0
                         sunbricks                              9      0
mabatipitched            burntbricks                            6      0
                         muddaub                                3      0
                         sunbricks                              1      0
mabatisloping            burntbricks                           39      0
                         cement                                 1      0
                         muddaub                                1      0
                         sunbricks                              7      0

                                                   gps:Accuracy  gps:Altitude  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                         22            22
                         muddaub                             42            42
                         sunbricks                            9             9
mabatipitched            burntbricks                          6             6
                         muddaub                              3             3
                         sunbricks                            1             1
mabatisloping            burntbricks                         39            39
                         cement                               1             1
                         muddaub                              1             1
                         sunbricks                            7             7

                                                   gps:Latitude  \
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                         22
                         muddaub                             42
                         sunbricks                            9
mabatipitched            burntbricks                          6
                         muddaub                              3
                         sunbricks                            1
mabatisloping            burntbricks                         39
                         cement                               1
                         muddaub                              1
                         sunbricks                            7

                                                   gps:Longitude  instanceID
C01_respondent_roof_type C02_respondent_wall_type
grass                    burntbricks                          22          22
                         muddaub                              42          42
                         sunbricks                             9           9
mabatipitched            burntbricks                           6           6
                         muddaub                               3           3
                         sunbricks                             1           1
mabatisloping            burntbricks                          39          39
                         cement                                1           1
                         muddaub                               1           1
                         sunbricks                             7           7

[10 rows x 53 columns]

### Exercise: aggregation
In breakout rooms. Discuss the answers in your group and write the answers in the collaborative document.
1. Read in the SAFI_results.csv dataset.
2. Get a list of the different E26_affect_conflicts values.
3. Groupby E26_affect_conflicts and describe the results.
4. How many of the respondents never had any conflicts?
5. (optional) Using groupby find out whether farms that use water ('E01_water_use') have more plots ('D_plots_count') than farms that do not use water.